header{
    color: rgb(150, 111, 60);
}
a {
 color: white;
 background-color: rgb(150, 111, 60);
 text-decoration: none;
}
body {
   text-align: center;
}
h1{
    color:white;
    background-color: darkred;
}
.section{
    width: 1000px;
    height: 200px;
    margin: 0 auto;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}
ul{
   text-align: left;
    color: darkred; 
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.styled{
    color: rgb(150, 111, 60);
    background-color: white;
}
p{
    background-color: darkred;
    color: white;
    font-size: 25px;
}
.gallery{
    width: 480px;
    height: 300px;
}
footer {
    color: rgb(150, 111, 60);
}
